<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
  <classes>
  <class name="testng.Test1"/>
  <class name="testng.Test2"/>
  <class name="testng.Test3"/>
  </classes> 
  </test> <!-- Test1 -->
</suite> <!-- Suite -->
