*{
    margin:0;
    padding:0;
}
.header{
    min-height:100vh;
    width: 100%;
    background-image: url("photo5.jpeg");
    background-position: center;
    background-size: cover;


}

nav{
    display: flex;
    padding: 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align:left;
    
        display: inline;
        text-decoration: none;
        color: darkcyan;
        border:1px solid;
        border-color: darkred;
        padding: 12px 34px;
        position: relative;
        cursor: pointer;
}
.nav-links:hover{
    margin: 0;
    border:1px solid midnightblue;
    background:midnightblue;
    }
.nav-links ul li{
    list-style: none;
    display: inline;
    padding: 12px;
    position: relative;

}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: Times New Roman;
    font-weight: 300;
   
}
.uni-head{
width:80%;
color: #fff;
position:absolute;
top:65%;
left:10%;

text-align: center;
}
.uni-head h1{
    font-size: 60px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;

}
.uni-head p{
    font-size: 25px;
    color:white;
    font-family: 'Times New Roman';
    font-style: italic;
}
.visit-in{
    display: inline;
    text-decoration: none;
    color: white;
    border:1px solid;
    border-color: darkred;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    
    left:45%;
    bottom:50%;
}
.visit-in:hover{
border:3px solid olivedrab;
background: palegoldenrod;
transition: 1s;
}

