
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>

    <style type="text/css">
       body{
            background-image: url(static/im5.jpg);
            background-size: cover;
        }
    .welcome{

        text-align:center;


    }
    .login{
           font-size:30px;
    text-align:center;
    text-transform: uppercase;
    margin:40px 0;
    }

</style>

</head>

<body>
    <h1 class="welcome">WELCOME TO UST</h1>
    <h2 class="login">Login details</h2>
    <h3>

          Full Name:<span id="res-fname">{{ena}}</span>
    </h3>

    <h3>
          UID:<span id="res-uid">{{fui}}</span>
    </h3>
    <h3>
          Company Name:<span id="res-coname">{{gco}}</span>
    </h3>
    <h3>
           Email:<span id="res-coemail">{{coe}}</span>
    </h3>

</body>
</html>




